.container {
  padding: 0 2rem;
  height: 100vh;
  background-color: #0070f3;
  display: flex;
  flex-direction: column;

}

.map {
   background-color: aquamarine;
   flex: 1;
}

.start {
  background-color: blanchedalmond;
  flex:1;
}

